body {
	font-family: 'Nunito', 'Ubuntu', sans-serif;
	background: #1D2228;
	color: #E1E2E2;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
	flex: 1;
	text-align: center;
}

.btn {
	background-color: #fB8122;
	color: #E1E2E2;
	margin: 30px;
}

h1, h3 {
	font-size: 4em;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 20px;
}

p {
	text-align: justify;
	max-width: 90%;
	line-height: 1.75;
	margin: auto;
	font-size: 1.2em;
}

footer {
	text-align: right;
	background: #E1E2E2;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}	

form {
	margin-top: 40px;
}

a {
	color: #1D2228;
	font-size: 18px;
}

#bestFriendModal {
	text-align: center;
}

#bestFriendPhoto {
	max-width: 100%;
	height: auto;
}

span {
	margin-left: 10px;
	margin-right: 10px;
	color: #1D2228;
	font-size: 20px;
}

hr {
	background-color: #E1E2E2;;
}